@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: norse-bold;
  src: url("./fonts/Norse-Bold.otf");
}

body {
  display: flex;
}

.hero {
  width: 40vw;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.logo {
  position: relative;
  top: 200px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logo img {
  height: 100px;
}

.logo h1 {
  font-size: 6rem;
  font-family: norse-bold;
}

.sign-up {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  width: 60%;
  margin-block: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}
